title { 
    color: red;
    font-size: 24px;
    align-self: center;
}

h1 {
    color: red;
    font-size: 20px;
    align-self: center
}

p {
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    padding: 20px;
}

.redboxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.redbox p{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    display: flex;
    text-align: center;
}