{% load static %}
{% block head %}
  <title>The Redbridge Theory</title>
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block body %}
  {% include 'core/nav.html' %}
  <div class="container">
    <h1>The Redbridge Theory</h1>
    <p>Building bridges for pulling bitches</p>

    <div class="redboxes">
      <div class="redbox"><p>What is the Redbridge Theory?</p></div>
      <div class="redbox"><p>Scan QR code</p></div>
      <div class="redbox"><p>How does it work?</p></div>
    </div>

    <button type="button">Match now!</button>
  </div>
{% endblock %}
