<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Redbridge Theory</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    
    <img src="logoside.png" alt="bridge image" style="display:block; margin:20px auto; width:150px;">

    <div class="container">
        <h1>The Redbridge Theory</h1>
        <p>Building bridges for pulling bitches</p>

        <div class="redboxes">
            <p>What is the Redbridge Theory?</p>
            <p>Scan QR code</p>
            <p>How does it work?</p>
        </div>

        <!-- Added a dedicated class for the QR -->
        <div class="qr-section">
            <img src="data:image/png;base64,{{ qr_image }}" alt="QR Code" class="qr-image">
        </div>

        <button type="button">Match now!</button>
    </div>

</body>
</html>
